{% assign words = content | number_of_words %}

{% if words < 360 %}
  {% assign mintotalMinutes = 1 %}
  {% assign maxtotalMinutes = 1 %}
{% else %}
  {% assign mintotalMinutes = words | divided_by:180 %}
  {% assign maxtotalMinutes = words | divided_by:200 %}
{% endif %}
  
{% if mintotalMinutes == maxtotalMinutes %}
  {% assign minutesText = mintotalMinutes | append: ' - ' | append: maxtotalMinutes | append: ' mins to read.' %}
{% else %}
  {% assign minutesText = maxtotalMinutes | append: ' mins to read.' %}
{% endif %}
